{{ partial "crea/head.html" . }}
  <body>
    <div id="blog">
      {{ partial "header.html" . }}
      {{ partial "sidebar.html" . }}
      <div id="main" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}"
        class="{{ with .Params.coverimage }}hasCover{{ end }}
               {{ if eq .Params.covermeta "out" }}hasCoverMetaOut{{ else }}hasCoverMetaIn{{ end }}
               {{ with .Params.coverCaption }}hasCoverCaption{{ end }}">
        <article class="post" itemscope itemType="http://schema.org/BlogPosting">
  
      <div id="app" class="row">
        <!--HEADER-->

        
        
      <div class="col-md-6">
      <datatable :columns="colonne" :data="elencocanzoni" :pagesize="pagesize" filterable paginate sortable></datatable>
      </div>
        
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12 actionmenu" id="actionmenu">
          <a v-on:click="sort" class="tooltip-top" data-tooltip="Ordina in ordine alfabetico"><span class="glyphicon glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>Ordina</a><b class="spaced"> | </b>
          <a v-on:click="undo" class="tooltip-top" data-tooltip="Annulla l'ultima operazione" ><i class="fa fa-undo" aria-hidden="true" ></i>Annulla</span></a><b class="spaced"> | </b>
          <a href="#about" class="tooltip-top" data-tooltip="Apri gli appunti" ><span class="glyphicon glyphicon glyphicon-paperclip" aria-hidden="true"></span>Appunti</a><b class="spaced"> | </b>
          <a v-on:click="erase" class="tooltip-top" data-tooltip="Cancella tutte le canzoni"><span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>Cancella</a>
        </div>
      </div>
      <ul>
        <draggable v-model="canzoniere.selezionecanzoni">
        <li v-for="canzone in canzoniere.selezionecanzoni"> 
          <div class="row">
            <div class="col-md-8 move">
              <canzoniselezionate v-bind:daticanzone="canzone"></canzoniselezionate>
            </div>
            <div class="col-md-4">
              <span class="inline"><a v-on:click='canzone.transpose = (canzone.transpose + 1); evento +=1;' class="tooltip-top" data-tooltip="Alza di un semitono"><span class="glyphicon glyphicon-plus" aria-hidden="true" ></span></a></span>
              <span class="inline"><a v-on:click='canzone.transpose = (canzone.transpose - 1); evento +=1;' class="tooltip-top" data-tooltip="Abbassa di un semitono"><span class="glyphicon glyphicon-minus" aria-hidden="true" ></span></a></span>
              <span class="inline"><a v-on:click="canzoniere.selezionecanzoni.splice(canzoniere.selezionecanzoni.indexOf(canzone), 1)" class="tooltip-top" data-tooltip="Elimina la canzone"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></span>
            </div>
          </div>  
        </li>
        </draggable>
      </ul>
    </div>


    <div class="col-md-2">
      <form>
          <div class="input-field">
            <label for="formatopagina">Formato Pagina</label>
            <select id="formatopagina" class="form-control" v-model="canzoniere.formatopagina">
              <option value="" selected>Scegli formato</option>
              <option value="A4" selected>A4</option>
              <option value="A5">A5</option>
              <option value="Smartphone">Smartphone</option>
            </select>
          </div>
        
          <div class="input-field">
            <label for="carattere" >Carattere</label>
            <select id="carattere" class="form-control" v-model="canzoniere.carattere">
              <option value="Graziato" selected>Graziato</option>
              <option value="Sgraziato">Sgraziato</option>
              <option value="">Comic Sans</option>
            </select>
          </div>
          <div class="input-field">
            <label for="numerocolonne">Numero Colonne</label>
            <select id="numerocolonne" class="form-control" v-model="canzoniere.numerocolonne">
              <option value="1"  selected>1</option>
              <option value="2">2</option>
            </select>
          </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" v-model="canzoniere.indicetitolo" />
                Indice per Titolo
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" v-model="canzoniere.indiceautore" />
                Indice per Autore
              </label>
            </div>
            <hr>
            <div class="checkbox">
              <label>
                <input type="checkbox" id="copertina" v-model="canzoniere.copertina" />Copertina
              </label>
            </div>
            <div id="campi_copertina">
              <div class="form-group">
                <input id="cappello" type="text" class="form-control" placeholder="Cappello" v-model="canzoniere.cappello">
              </div>
              <div class="form-group">
                <input id="titolo" type="text" class="form-control" placeholder="Titolo" v-model="canzoniere.titolo">
              </div>
              <div class="form-group">
                <input id="sottotitolo" type="text" class="form-control" placeholder="Sottotitolo" v-model="canzoniere.sottotitolo">
              </div>
            </div>
        <hr>
        <div class="checkbox">
          <label>
            <input type="checkbox" id="accordi" v-model="canzoniere.versioneaccordi"/>Versione con accordi
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" id="testo" v-model="canzoniere.versionetesto"/> Versione solo testi
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" id="singole" v-model="canzoniere.versionesingoli"/> Un file per canzone
          </label>
        </div>
        <div class="form-group">
          <input id="last_name" type="email" class="form-control" placeholder="email" v-model="canzoniere.email"/>
        </div>
        <hr>
        <button type="button" class="btn btn-success btn-lg">Crea il canzoniere</button>
        <hr>
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#caricacanzoniere">Carica Canzoniere</button>

        </form>

        <div class="modal fade" id="caricacanzoniere" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Carica il canzoniere</h4>
              </div>
              <div class="modal-body">
               <p>Se hai già creato un canzoniere con il nostro nuovo sito, nella mail che ti è stata inviata dovresti aver ricevuto
                 anche un <b>link</b> e un <b>codice</b>. 
               </p>
               <p>Per continuare a lavorare sul canzoniere che avevi creato ti basta cliccare sul link nella mail oppure <b>inserire il codice nella casella sottostante</b>.
               </p> 
               <p>Buon lavoro!</p>
              <div class="form-inline">
                <input id="idcanzoniere" type="text" class="form-control" placeholder="Inserisci il codice" size="20"/>
                <span> </span>
                <button type="button" class="btn btn-warning">Carica il canzoniere</button>


              </div>
              

              </div>
            </div>
          </div>
        </div>



    </div>        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        </div>
        <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://unpkg.com/vue"></script>

      <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>

      <script type="text/javascript" src="http://localhost:1313/js/sortable.js"></script>
      <script type="text/javascript" src="http://localhost:1313/js/vuejs-datatable.js"></script>
      <script type="text/javascript" src="http://localhost:1313/js/vuedraggable.js"></script>
      <script type="text/javascript" src="http://localhost:1313/js/canzoniere.js"></script>
      <script type="text/javascript" src="http://localhost:1313/js/bootstrap.min.js"></script>




        </article>
      </div>

    </div>
{{ partial "foot.html" . }}
