{{ partial "head.html" . }}
  <body>
    <div id="blog">
      {{ partial "header.html" . }}
      {{ partial "sidebar.html" . }}
      {{ partial "canzoni/header-cover.html" . }}
      <div id="main" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}"
        class="{{ with .Params.coverimage }}hasCover{{ end }}
               {{ if eq .Params.covermeta "out" }}hasCoverMetaOut{{ else }}hasCoverMetaIn{{ end }}
               {{ with .Params.coverCaption }}hasCoverCaption{{ end }}">
        <article class="post" itemscope itemType="http://schema.org/BlogPosting">
          

          {{ with .Params.covercaption }}
            <span class="post-header-cover-caption caption">{{ . | markdownify }}</span>
          {{ end }}
          {{ if or (not .Params.coverimage) (eq .Params.covermeta "out") }}
            {{ partial "canzoni/header.html" . }}
          {{ end }}

          <div class="post-content markdown" itemprop="articleBody">
            <div class="main-content-wrap">
              <span class="azionicanzoni">
              <a target="_.blank" href="http:\\pdf.canzoniereonline.it\{{ .Params.identificatore }}.pdf" onclick="ga(['send', 'event','Download','this.href']);"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Scarica il pdf </a>
              <br />
              <a onclick="addtocart(canzone)"><i class="fa fa-paperclip" aria-hidden="true"></i>Aggiungi agli appunti</a>
              </span>
              {{ .Content }}
              {{ partial "canzoni/gallery.html" . }}
            </div>
          </div>
        </article>
        {{ partial "footer.html" . }}
      </div>
      <div id="bottom-bar" class="post-bottom-bar" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}">
        {{ partial "canzoni/actions.html" . }}
      </div>
      {{ partial "canzoni/share-options.html" . }}
    </div>
    <div id="autorimeta" style="display:none;">
      {{ with .Params.autori }} {{ $Len := len . }} {{ if gt $Len 0 }} {{ range $k, $v := . }} {{ . }} {{ if lt $k (sub $Len 1) }}, {{ end }} {{ end }}  {{ end }} {{ end }}
    </div>
    <script>
      var canzone = new Object();
      canzone.titolo = "{{ .Title }}";
      canzone.autori= document.getElementById("autorimeta").innerText;
      canzone.identificatore = "{{ .Params.identificatore }}";
      canzone.tonalita = "{{ .Params.tonalita }}";
      canzone.transpose = 0;
    </script>
{{ partial "foot.html" . }}
