{{ partial "head.html" . }}
  <body>
    <div id="blog">
      {{ partial "header.html" . }}
      {{ partial "sidebar.html" . }}
      {{ partial "post/header-cover.html" . }}
      <div id="main" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}"
        class="{{ with .Params.coverimage }}hasCover{{ end }}
               {{ if eq .Params.covermeta "out" }}hasCoverMetaOut{{ else }}hasCoverMetaIn{{ end }}
               {{ with .Params.coverCaption }}hasCoverCaption{{ end }}">
        <section class="postShorten-group main-content-wrap">
          <h1>Benvenuti nel nuovo Canzoniere Online</h1>
          <p>In questo sito puoi trovare oltre 650 
            <a href="/canzoni"><i class="fa fa-music spaced" aria-hidden="true"></i>canzoni</a>
            organizzate anche per
            <a href="/autori"><i class="fa fa-user-o spaced" aria-hidden="true"></i>autori</a>.
            Sfogliale, aggiungile agli 
            <a href="/#appunti"><i class="fa fa-paperclip spaced" aria-hidden="true"></i>appunti</a>
            oppure 
            <b><a href="/crea/canzoniere"><i class="fa fa-magic spaced" aria-hidden="true"></i>crea</a></b>
            direttamente il tuo canzoniere.
          </p>
          <p> 
            Canzoniere Online è un <a href="/pagina/progetto"><i class="fa fa-sitemap spaced" aria-hidden="true"></i> progetto</a> open source e si appoggia a <a href="https://www.latex-project.org/">LaTeX</a> per la creazione dei pdf.
            Trovi più informazioni nella <a href="/pagina/documentazione"><i class="fa fa-book spaced" aria-hidden="true"></i>documentazione</a>. 
            Se vuoi contribuire al progetto, leggi come <a href="/pagina/collabora"><i class="fa fa-handshake-o spaced" aria-hidden="true"></i>collaborare</a>.
          </p>
          <p>
            Buona navigazione!
          </p>
          <p class='right'>
            <i>
              Lo staff di Canzoniere Online
            </i>
          </p>
          <br />
          <hr>
          
          <h1>Ultime notizie</h1>
          {{ $paginator := .Paginate (where .Data.Pages "Type" "post") 3}}
          {{ range $paginator.Pages }}
            {{ .Render "summary" }}
          {{ end }}
          <a href="/post">Leggi le altre notizie</a>
        </section>
        {{ partial "footer.html" . }}
      </div>
    </div>
{{ partial "foot.html" . }}
