<div class="postShorten-meta post-meta">
{{ with .Params.autori }}
  {{ $Len := len . }}
  {{ if gt $Len 0 }}
    <span>Autori: </span>
    {{ range $k, $v := . }}
      <a class="category-link" href="/autori/{{ . | urlize | lower }}">{{ . }}</a>{{ if lt $k (sub $Len 1) }}, {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
<br />
{{ with .Params.famiglia }}
  {{ $famigliaLen := len . }}
  {{ if gt $famigliaLen 0 }}
    <span>Famiglia:</span>
    {{ range $k, $v := . }}
      <a class="category-link" href="/famiglia/{{ . | urlize | lower }}">{{ . }}</a>{{ if lt $k (sub $famigliaLen 1) }}, {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
<br />
{{ with .Params.momenti }}
  {{ $Len := len . }}
  {{ if gt $Len 0 }}
    <span>Momenti: </span>
    {{ range $k, $v := . }}
      <a class="category-link" href="/momenti/{{ . | urlize | lower }}">{{ . }}</a>{{ if lt $k (sub $Len 1) }}, {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
</div>
