<footer id="footer" class="main-content-wrap">
  <span class="copyrights">
   I diritti dei testi sono dei rispettivi autori. 
   <br />CanzoniereOnline è un progetto <a href="https://it.wikipedia.org/wiki/Open_source">Open Source</a> ospitato su <a href="https://www.vultr.com/?ref=7169176">Vultr</a> che ha creato ad ora <span id="numero_canzonieri"></span> canzonieri. 
    <br />Per informazioni, c a n z o n i e r e o n l i n e [at] g m a i l . c o m  <b>|</b><a href="https://canzoniereonline.it/crediti">Crediti</a>
  </span>
</footer>
