{{ partial "head.html" . }}
  <body>
    <div id="blog">
      {{ partial "header.html" . }}
      {{ partial "sidebar.html" . }}
      {{ partial "song/header-cover.html" . }}
      <div id="main" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}"
        class="{{ with .Params.coverimage }}hasCover{{ end }}
               {{ if eq .Params.covermeta "out" }}hasCoverMetaOut{{ else }}hasCoverMetaIn{{ end }}
               {{ with .Params.coverCaption }}hasCoverCaption{{ end }}">
        <article class="post" itemscope itemType="http://schema.org/BlogPosting">
          {{ with .Params.covercaption }}
            <span class="post-header-cover-caption caption">{{ . | markdownify }}</span>
          {{ end }}
          {{ if or (not .Params.coverimage) (eq .Params.covermeta "out") }}
            {{ partial "song/header.html" . }}
          {{ end }}
          <div class="post-content markdown" itemprop="articleBody">
            <div class="main-content-wrap">
              {{ .Content }}
              {{ partial "song/gallery.html" . }}
            </div>
          </div>
        </article>
        {{ partial "footer.html" . }}
      </div>
      <div id="bottom-bar" class="post-bottom-bar" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}">
        {{ partial "song/actions.html" . }}
      </div>
      {{ partial "song/share-options.html" . }}
    </div>
{{ partial "foot.html" . }}
